html, body {
	height: 100%;
}

html {
	font-size: 1px;
}

body {
	font-size: 16rem;
	font-family: var(--font-family);
	background-image: url("img/wavy-sea.jpg");
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
}

a {
	color: var(--c-white);
}

li {
	list-style-type: none;
}

input, textarea {
	border: 0;
	outline: 0;
}

button {
	border: 0;
	outline: 0;
}

.container {
	width: 100%;
	min-height: 100%;
	padding: 5% 15%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: auto;

	@include tablet {
		padding: 8% 10%;
	}

	@include tablet {
		padding: 8% 5%;
	}
}

.content {
	width: 100%;
	max-width: 1400rem;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 10rem 0;
	color: var(--c-brand-dark-blue);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 60rem;
	margin-bottom: 30rem;
	position: relative;
	transition: all 0.2s ease-in-out;

	@include tablet {
		max-width: 50rem;
	}

	@include tablet-small {
		max-width: 40rem;
	}

	@include mobile {
		margin-bottom: 15rem;
		max-width: 30rem;
	}

	&::after {
		position: absolute;
		content: "";
		display: block;
		bottom: 0;
		width: 160%;
		height: 1rem;
		background-color: var(--c-brand-white);
	}

	&:hover {
		transform: scale(1.05);
	}
}

.main {
	width: 100%;
	background-color: var(--c-brand-white-half-transp);
	border-radius: 10rem;
	margin-bottom: 30rem;
	position: relative;

	@include tablet {
		margin-bottom: 20rem;
	}

	&__top-line {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 20rem;
		background-color: var(--c-brand-white);
		border-radius: 10rem 10rem 0 0;
		z-index: 2;

		@include mobile {
			height: 10rem;
		}
	}
}

.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
	padding: 10rem;

	&__copyright {
		color: var(--c-brand-white);
		font-size: 16rem;
		font-weight: 400;

		@include tablet-small {
			font-size: 14rem;
			font-weight: 300;
		}
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 18rem;
	font-weight: 400;
	border-radius: 8rem;
	box-shadow: 1rem 1rem 2rem 1rem transparent;
	transition: all 0.2s ease-in-out;

	&:hover {
		transform: scale(1.03);
	}
}

.chapter-title {
	font-size: 38rem;
	font-weight: 400;
	margin-bottom: 20rem;

	@include desktop-small {
		font-size: 34rem;            
	}

	@include tablet {
		font-size: 32rem;
		margin-bottom: 18rem;            
	}

	@include tablet-small {
		font-size: 26rem;
		margin-bottom: 14rem;            
	}

	@include mobile {
		font-size: 20rem;
		margin-bottom: 10rem; 
	}
}

.show-tab {
	display: flex;
}

.hide-tab {
	display: none;
}
