html, body {
	height: 100%;
}

html {
	font-size: 1px;
}

body {
	font-size: 16rem;
	font-family: var(--font-family);
	background-image: url("img/wavy-sea.jpg");
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
}

a {
	color: var(--c-white);
}

li {
	list-style-type: none;
}

input, textarea {
	border: 0;
	outline: 0;
}

button {
	border: 0;
	outline: 0;
}

.container {
	width: 100%;
	min-height: 100%;
	padding: 5% 15%;
	border: 2px solid red;
	background: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
}

.content {
	width: 100%;
	max-width: 1400rem;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 10rem 0;
	color: var(--c-brand-dark-blue);
	border: 2px solid green;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 60rem;
	margin-bottom: 30rem;
	position: relative;

	&::after {
		position: absolute;
		content: "";
		display: block;
		bottom: 0;
		width: 160%;
		height: 1rem;
		background: var(--c-brand-white);
	}
}

.main {
	width: 100%;
	background: var(--c-brand-white-half-transp);
	border-radius: 10rem;
	margin-bottom: 30rem;
}

.footer {
	color: var(--c-brand-white);
	font-size: 18rem;
	font-weight: 300;
	margin-bottom: 5rem;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 20rem;
	font-weight: 500;
	border-radius: 8rem;
}

.chapter-title {
	font-size: 38rem;
	font-weight: 400;
	margin-bottom: 20rem;
}

.show-tab {
	display: flex;
}

.hide-tab {
	display: none;
}