html,
*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	outline: 0;
	margin: 0;
	padding: 0;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}

button,
input {
	overflow: visible;
    border: 0;
}

textarea {
	overflow: auto;
}
  
img {
    display: block;
    max-inline-size: 100%;
    width: 100%;
    border-style: none;
	object-fit: cover;
}

a {
    text-decoration: none;
	cursor: pointer;
    &:hover {
		text-decoration: none;
	}
}

li {
    list-style: none;
}