$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

:root {
    --font-family: "Poppins", sans-serif;

    --transition: .2s all ease-in-out;

    --c-white: #fff;
	--c-black: #000;
    --c-brand-white: rgb(247, 242, 233);
    --c-brand-white-half-transp: rgba(247, 242, 233, 0.7);
    --c-brand-blue: #75adb1;
    --c-brand-dark-blue: #06234e;
    --c-brand-dark-brown: #50312f;
}