$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

:root {
    --font-family: "Poppins", sans-serif;
    --font-second: "Roboto", sans-serif;

    --transition: .2s all ease-in-out;

    --c-white: rgb(255, 255, 255);
	--c-black: rgb(0, 0, 0);
	--c-black-half-transp: rgb(0, 0, 0, 0.5);
    --c-gray-half-transp: rgba(148, 148, 148, 0.7);
    --c-brand-white: rgb(254, 255, 255);
    --c-brand-white-half-transp: rgba(254, 255, 255, 0.719);
    --c-brand-light-blue: rgb(210, 245, 255);
    --c-brand-dark-green: rgb(2, 50, 70);
    --c-brand-dark-green-half-transp: rgba(9, 71, 95, 0.7);
    --c-brand-dark-brown: rgb(93, 0, 30);
    --c-brand-dark-brown-half-transp: rgba(93, 0, 30, 0.6);
}