.contacts {
    padding: 50rem;

    &__container {
        width: 100%;
    }

    &__title {}

    &__content {
        display: block;
        position: relative;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20rem;
        width: 60%;
        padding: 50rem 60rem 50rem 40rem;
        background: var(--c-brand-light-blue);
        border-radius: 8rem;
        box-shadow: 0 0 5rem 1rem var(--c-gray-half-transp);

        input, textarea {
            background: var(--c-brand-white-half-transp);
            border-radius: 4rem;
            padding: 5rem 8rem;
            font-size: 16rem;
            color: var(--c-brand-dark-blue);
            box-shadow: inset 1rem 1rem var(--c-gray-half-transp), inset -1rem -1rem var(--c-gray-half-transp);

            &:focus {
                box-shadow: 0 0 5rem 1rem var(--c-brand-dark-brown-half-transp);
            }

            &::placeholder {
                font-size: 14rem;
                color: var(--c-brand-dark-brown-half-transp);
            }
        }

        &-input-name {}

        &-input-email {}

        &-textarea {
            resize: vertical;
            min-height: 150rem;
            max-height: 350rem;
        }

        &-btn {
            padding: 12rem;
            background: var(--c-brand-dark-blue);
            color: var(--c-brand-white);
            font-size: 18rem;
            letter-spacing: 120%;
            max-width: 300rem;
            margin-inline: auto;
        }
    }

    &__data {
        position: absolute;
        top: 50%;
        left: 55%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15rem;

        &-contact-container {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 10rem;
        }

        &-socials-container {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 10rem;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 10rem;
            text-align: center;
            background: var(--c-brand-white-half-transp);
            padding: 8rem;
            box-shadow: 0 0 6rem 1rem var(--c-gray-half-transp);
            border-radius: 4rem;
            font-size: 16rem;
            color: var(--c-brand-dark-blue);
            transition: all 0.2s ease-in-out;

            .fa-solid, .fa-brands {
                font-size: 20rem;
                transition: all 0.2s ease-in-out;
            }

            &:hover {
                background: var(--c-brand-dark-blue-half-transp);
                color: var(--c-brand-light-blue);
                .fa-solid, .fa-brands {
                    color: var(--c-brand-light-blue);
                }
            }
        }

        &-map-container {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1rem solid var(--c-brand-dark-blue-half-transp);
            border-radius: 4rem;
            box-shadow: 0 0 5rem 1rem var(--c-gray-half-transp);
            
            iframe {
                border-radius: 4rem;
            }
        }
    }
}