.contacts {
    padding: 50rem;

    @include tablet {
		padding: 40rem;            
	}
    @include tablet-small {
		padding: 30rem;            
	}
    @include mobile {
		padding: 20rem 15rem;            
	}

    &__container {
        width: 100%;
    }

    &__content {
        display: block;
        position: relative;

        @include tablet {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            gap: 20rem;            
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20rem;
        width: 60%;
        padding: 50rem 60rem 50rem 30rem;
        background-color: var(--c-brand-light-blue);
        border-radius: 8rem;
        box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp);

        @include tablet {
            width: 100%;
            padding: 30rem;            
        }
        @include mobile {
            padding: 10rem;
            gap: 10rem;            
        }

        input, textarea {
            background-color: var(--c-brand-white-half-transp);
            border-radius: 4rem;
            padding: 5rem 8rem;
            font-size: 16rem;
            color: var(--c-brand-dark-blue);
            box-shadow: inset 1rem 1rem var(--c-gray-half-transp), inset -1rem -1rem var(--c-gray-half-transp);

            &:focus {
                box-shadow: 0 0 3rem 1rem var(--c-brand-dark-brown-half-transp);
            }

            &::placeholder {
                font-size: 14rem;
                color: var(--c-brand-dark-brown-half-transp);
            }
        }

        &-textarea {
            resize: vertical;
            min-height: 150rem;
            max-height: 350rem;

            @include tablet {
                min-height: 100rem;
                max-height: 250rem;            
            }
        }

        &-btn {
            padding: 12rem;
            background-color: var(--c-brand-dark-blue);
            color: var(--c-brand-white);
            font-size: 18rem;
            letter-spacing: 120%;
            max-width: 300rem;
            margin-inline: auto;

            @include tablet-small {
                font-size: 16rem;
            }
        }
    }

    &__data {
        position: absolute;
        top: 50%;
        left: 55%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15rem;

        @include tablet {
            position: initial;
            top: initial;
            left: initial;
            right: initial;
            transform: none;            
        }

        &-contact-container {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 10rem;
        }

        &-socials-container {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 10rem;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 10rem;
            text-align: center;
            background-color: var(--c-brand-white-half-transp);
            padding: 8rem;
            box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp);
            border-radius: 4rem;
            font-size: 16rem;
            color: var(--c-brand-dark-blue);
            transition: all 0.2s ease-in-out;

            @include tablet-small {
                font-size: 14rem;
                gap: 5rem;
            }

            .fa-solid, .fa-brands {
                font-size: 20rem;
                transition: all 0.2s ease-in-out;

                @include tablet-small {
                    font-size: 18rem;
                }
            }

            &:hover {
                background-color: var(--c-brand-dark-blue-half-transp);
                color: var(--c-brand-light-blue);
                .fa-solid, .fa-brands {
                    color: var(--c-brand-light-blue);
                }
            }
        }

        &-map-container {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1rem solid var(--c-brand-dark-blue-half-transp);
            border-radius: 4rem;
            box-shadow: 1rem 1rem 3rem 1rem var(--c-gray-half-transp);

            @include tablet {
                border: 0;            
            }
            
            iframe {
                border-radius: 4rem;
            }
        }
    }
}