.education {
    display: none;
    //display: block;

    &__container {
        padding: 50rem;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 15rem;
    }

    &__item {
        flex: 0 0 calc((100% - 15rem * 2) / 3);
        background: var(--c-brand-white);
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        justify-items: stretch;
        text-align: center;
        border-radius: 8rem;

        & > * {
            display: flex;
            align-items: center;
            justify-content: center;

            &:not(.education__item-icon) {
                padding: 8rem;
            }
        }

        &-period {
            font-size: 26rem;
            font-weight: 500;
            color: var(--c-brand-dark-brown);
        }

        &-name {
            font-size: 20rem;
            font-weight: 500;
            line-height: 150%;
        }

        &-icon {
            display: flex;
            background: var(--c-brand-beige);

            img {
                max-width: 30%;
            }
        }

        &-place {
            font-size: 18rem;
            font-weight: 400;
            line-height: 120%;
        }
    }

}