.home {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__welcome {

        &-title {}

        &-desc {}
    }

    &__image {
        max-width: 400rem;
    }
}