.home {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__welcome {
        padding: 50rem;

        &-title {
            font-size: 48rem;
            font-weight: 300;
            margin-bottom: 50rem;

            span {
                font-weight: 500;
            }
        }

        &-desc {
            font-size: 20rem;
            font-weight: 300;
        }
    }

    &__image {
        max-width: 300rem;
        border-top-right-radius: 10rem;
	    border-bottom-right-radius: 10rem;
        overflow: hidden;
        display: flex;

        img {
            object-fit: cover;
        }
    }
}