.home {
    justify-content: space-between;
    align-items: center;

    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include mobile {
            flex-direction: column;
        }
    }

    &__welcome {
        padding: 50rem 20rem 50rem 50rem;
        align-content: center;

        @include desktop-small {
            padding: 40rem 20rem 40rem 40rem;
        }
        @include tablet {
            padding: 40rem 10rem 40rem 50rem;
        }
        @include tablet-small {
            padding: 40rem 10rem 40rem 40rem;
        }
        @include mobile {
            padding: 30rem 15rem 15rem 20rem;
            text-align: center;
        }
        
        &-title {
            font-size: 44rem;
            font-weight: 400;
            margin-bottom: 40rem;

            @include desktop-small {
                font-size: 38rem;            
            }

            @include tablet {
                font-size: 34rem;
                margin-bottom: 30rem;
            }

            @include tablet-small {
                font-size: 28rem;
                margin-bottom: 20rem;
            }

            h1 {
                font-size: 46rem;
                font-weight: 400;
                color: var(--c-brand-dark-brown);
                margin-top: 5rem;

                @include desktop-small {
                    font-size: 38rem;            
                }

                @include tablet {
                    font-size: 34rem;
                }

                @include tablet-small {
                    margin-top: 8rem;
                    font-size: 28rem;
                }

                @include mobile {
                    margin-top: 5rem;
                    font-size: 24rem;
                }
            }
        }

        &-desc {
            font-family: var(--font-second);
            font-size: 24rem;
            font-weight: 400;
            margin-bottom: 40rem;
            text-shadow: 0 0 1rem var(--c-brand-dark-brown-half-transp);

            @include tablet {
                font-size: 20rem;
                margin-bottom: 30rem;
            }

            @include tablet-small {
                font-size: 18rem;
                margin-bottom: 30rem;
            }

            @include mobile {
                font-size: 16rem;
            }
        }

        &-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20rem;
            color: var(--c-brand-white);
            letter-spacing: 1rem;

            @include tablet {
                flex-direction: column;
                gap: 15rem;
                align-items: flex-start;
            }

            @include tablet {
                gap: 10rem;
                align-items: center;
            }

            .btn-cv, .btn-contact {
                flex: 0 0 calc((100% - 20rem) / 2);
                padding: 12rem 14rem;
                text-align: center;
                align-self: flex-start;

                @include tablet {
                    max-width: initial;
                    flex: initial;
                    width: 60%;
                    font-size: 16rem;
                }

                @include tablet-small {
                    width: 80%;
                    font-size: 14rem;
                    padding: 10rem 8rem;
                }

                @include mobile {
                    width: 60%;
                    align-self: center;
                }
            }

            .btn-cv {
                white-space: nowrap;
                background-color: var(--c-brand-dark-green);
                box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp);

                &-text, &-text-hover {
                    font-size: 18rem;

                    @include mobile {
                        font-size: 16rem;
                    }
                }

                &-text-hover {
                    display: none;
                }

                &:hover {                   
                    .btn-cv-text {
                        display: none;
                    }

                    .btn-cv-text-hover {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                    }
                }
            }

            .btn-contact {
                background-color: var(--c-brand-light-blue);
                color: var(--c-brand-dark-green);
                font-size: 18rem;
                box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp);

                &:hover {
                    background-color: var(--c-brand-white);
                    color: var(--c-brand-dark-brown);
                    box-shadow: 0 0 2rem 0 var(--c-brand-dark-green-half-transp);
                }
            }
        }
    }

    &__image {
        flex-basis: 40%;
        border-radius: 0 10rem 10rem 0;
        overflow: hidden;
        display: flex;
        position: relative;

        @include tablet-small {
            flex-basis: 45%;
        }

        @include mobile {
            border-radius: 0 0 10rem 10rem;
        }

        img {
            object-fit: cover;

            @include mobile {
                max-height: 350rem;
                object-position: 0 -15rem;
            }
        }

        &-arrow {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 15rem;
            background-color: var(--c-brand-dark-green-half-transp);
            border-radius: 5rem 0 0 5rem;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp);

            @include mobile {
                padding: 12rem;
            }

            .fa-solid {
                color: var(--c-brand-white-half-transp);
                font-size: 30rem;
                transition: var(--transition);

                @include mobile {
                    font-size: 26rem;
                }
            }

            &:hover {
                background-color: var(--c-brand-white);
                .fa-solid {
                    color: var(--c-brand-dark-brown);
                }
            }
        }
    }
}