.modal-project {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15%;
    overflow: auto;

    @include tablet {
        padding: 15% 8%;
    }

    &__content {
        background-color: var(--c-brand-white-half-transp);
        border-radius: 10rem;
        position: relative;
        width: 100%;
        max-width: 1400rem;

        &-close-btn {
            position: absolute;
            top: 5rem;
            right: 5rem;
            background-color: var(--c-brand-white-half-transp);
            padding: 3rem 5rem;
            border-radius: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp);

            .fa-solid {
                color: var(--c-brand-dark-green-half-transp);
                font-size: 30rem;
                transition: color 0.3s ease;

                @include mobile {
                    font-size: 24rem;
                }

                &:hover {
                    color: var(--c-brand-dark-green);
                }
            }
        }

        &-project-data {
            border-radius: 10rem;
            text-align: center;
        }

        &-project-image {
            border-radius: 10rem;
            padding: 50rem 50rem 0;

            @include tablet {
                padding: 30rem 30rem 0;
            }
            @include mobile {
                padding: 15rem 10rem 0;
            }

            img {
                border-radius: 10rem;
            }
        }

        &-project-title {
            margin: 15rem 10rem 8rem 10rem;
            color: var(--c-brand-dark-green);
            text-shadow: 1rem 0 0 var(--c-black-half-transp);
            font-size: 36rem;
            font-weight: 600;
            letter-spacing: 2rem;

            @include tablet-small {
                margin: 10rem 8rem 5rem;
                font-size: 28rem;
            }
            @include mobile {
                margin: 8rem 5rem 5rem;
                font-size: 20rem;
                font-weight: 500;
            }
        }

        &-project-info {
            background-color: var(--c-brand-white);
            padding: 10rem 5rem;
            border-radius: 0 0 10rem 10rem;

            &-techniques {
                color: var(--c-brand-dark-brown);
                font-family: var(--font-second);
                font-size: 18rem;
                font-weight: 400;
                letter-spacing: 1rem;
                text-shadow: 0 0 1rem var(--c-gray-half-transp);
                margin: 0 0 20rem 0;
    
                span {
                    color: var(--c-brand-dark-green);
                    font-family: var(--font-second);
                    font-size: 16rem;
                }

                @include mobile {
                    font-size: 16rem;
                    margin: 0 0 10rem 0;
                }
            }

            &-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20rem;
    
                @include mobile {
                    flex-direction: column;
                    gap: 10rem;
                }
    
                a {
                    display: block;
                    width: 60%;
                    background-color: var(--c-brand-light-blue);
                    color: var(--c-brand-dark-brown);
                    font-family: var(--font-second);
                    font-size: 16rem;
                    font-weight: 400;
                    letter-spacing: 1rem;
                    text-shadow: 0 0 1rem var(--c-gray-half-transp);
                    padding: 5rem 10rem;
                    position: relative;
                    box-shadow: 1rem 1rem 2rem 1rem var(--c-gray-half-transp);
                    border-radius: 8rem;
                    transition: var(--transition);
     
                    &:hover {
                        background-color: var(--c-brand-dark-brown-half-transp);
                        color: var(--c-brand-white);
                    }
                    @include mobile {
                        padding: 5rem;
                        font-size: 14rem;
                    }
                }
            }
        }
    }

    &.open {
        display: flex;
    }
}

.modal-alert {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15%;
    overflow: auto;

    &__content {
        background-color: var(--c-brand-white-half-transp);
        border-radius: 10rem;
        position: relative;
        max-width: 1400rem;
        padding: 50rem 0;
        text-align: center;

        @include mobile {
            padding: 40rem 0;
        }

        &-close-btn {
            position: absolute;
            top: 5rem;
            right: 5rem;
            background-color: var(--c-brand-white-half-transp);
            padding: 3rem 5rem;
            border-radius: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp);

            .fa-solid {
                color: var(--c-brand-dark-green-half-transp);
                font-size: 24rem;
                transition: color 0.3s ease;

                @include mobile {
                    font-size: 18rem;
                }

                &:hover {
                    color: var(--c-brand-dark-green);
                }
            }
        }

        p {
            padding: 5rem 50rem;
            background-color: var(--c-brand-white);

            @include mobile {
                padding: 5rem 20rem;
            }
        }
    }

    &.open {
        display: flex;
    }
}

