.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem;

    &__list {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10rem;

        @include tablet-small {
            width: 70%;
        }
    }

    &__item {
        width: calc((100% - 10rem * 4) / 5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        position: relative;
        cursor: pointer;

        &:hover {
            .navbar__item-title {
                opacity: 1;
            }
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -22rem;
            left: calc(50%-4rem);
            border-bottom: solid 18rem var(--c-brand-white-half-transp);
            border-left: solid 18rem transparent;
            border-right: solid 18rem transparent;

            @include mobile {
                border-bottom: solid 8rem var(--c-brand-white-half-transp);
                border-left: solid 8rem transparent;
                border-right: solid 8rem transparent;
                bottom: -17rem;
            }
        }

        .fa-solid {
            color: var(--c-brand-white-half-transp);
            font-size: 40rem;

            @include desktop-small {
                font-size: 36rem;
            }

            @include tablet-small {
                font-size: 30rem;
            }

            @include mobile {
                font-size: 24rem;
            }
        }

        &-title {
            font-family: var(--font-second);
            font-size: 14rem;
            font-weight: 300;
            color: var(--c-white);
            opacity: 0;
            transition: var(--transition);

            @include mobile {
                display: none;
            }
        }

        &.is-active .fa-solid {
            color: var(--c-brand-light-blue);
        }

        &.is-active::after {
            border-bottom-color: var(--c-brand-light-blue);
        }
    }
}