.navbar {
    margin-bottom: 20rem;
    min-width: 30%;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        position: relative;

        &:hover {
            .navbar__item-title {
                opacity: 1;
            }
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -21rem;
            left: calc(50%-9rem);
            border-bottom: solid 18rem var(--c-brand-white-half-transp);
            border-left: solid 18rem transparent;
            border-right: solid 18rem transparent;
        }

        .fa-solid {
            color: var(--c-brand-beige);
            font-size: 34rem;
            opacity: 0.75;
        }

        &-title {
            font-size: 14rem;
            font-weight: 300;
            color: var(--c-white);
            opacity: 0;
            transition: var(--transition);
        }
    }
}