.navbar {
    margin-bottom: 20rem;
    min-width: 30%;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        .fa-solid {
            color: var(--c-white);
            font-size: 34rem;
        }

        &-title {
            font-size: 14rem;
            color: var(--c-white);
        }
    }
}