.skills {
    padding: 50rem 50rem 80rem;

    @include tablet {
		padding: 40rem 40rem 60rem;            
	}
    @include tablet-small {
		padding: 40rem 30rem 50rem;            
	}
    @include mobile {
		padding: 20rem 15rem;            
	}

    &__container {
        display: block;
        overflow: hidden;
        width: 100%;
    }

    &__carousel {
        width: 100%;
        padding-inline: 35rem;
        position: relative;
        z-index: 1;

        &-btn-prev, &-btn-next {
            position: absolute;
            top: 50%;
            padding: 13rem;
            transform: translateY(-50%);
            background-color: var(--c-brand-dark-green-half-transp);
            box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp);
            border-radius: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 2;
            transition: all 0.3s ease;

            @include desktop-small {
                padding: 10rem;
            }

            @include mobile {
                padding: 8rem;
            }

            .fa-solid {
                color: var(--c-brand-white-half-transp);
                font-size: 34rem;
                transition: color 0.3s ease;

                @include desktop-small {
                    font-size: 30rem;
                }
                @include mobile {
                    font-size: 24rem;
                }
            }

            &:hover {
                background-color: var(--c-brand-white);
                .fa-solid {
                    color: var(--c-brand-dark-brown);
                }
            }
        }

        &-btn-prev {
            left: 10rem;

            @include tablet-small {
                left: 14rem
            }
        }

        &-btn-next {
            right: 10rem;

            @include tablet-small {
                right: 14rem
            }
        }        
    }

	&__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

	&__item {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        background-color: var(--c-brand-white-half-transp);
        border-radius: 8rem;

        &-image {
            border-radius: 10rem 10rem 0 0;
            padding: 4rem;

            img {
                border-radius: 10rem 10rem 0 0;
            }
        }

	    &-name {
            padding: 5rem 1rem;
            background-color: var(--c-brand-dark-green);
            font-family: var(--font-second);
            color: var(--c-brand-white);
            font-size: 20rem;
            align-self: stretch;
            text-align: center;
            border-radius: 0 0 10rem 10rem;

            @include desktop-small {
                font-size: 16rem;
            }
        }
    }
}

.owl-item {
    
    border-radius: 8rem;
}

.owl-stage-outer {
    border-radius: 8rem;
}