# Игнорировать node_modules (устанавливаемые зависимости)
node_modules/

# Игнорировать файлы, связанные с системой
.DS_Store
Thumbs.db

# Игнорировать итоговые скомпилированные файлы, если они генерируются автоматически
js/bundle.js
js/bundle.js.map

# Игнорировать файлы настроек редакторов и IDE
.vscode/
.idea/

# Игнорировать лог-файлы и временные файлы
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать файлы операционной системы
*.swp
*.swo

# Игнорировать временные файлы сборки (например, кэш Webpack)
dist/
.cache/

# Игнорировать конфигурации для CI/CD (опционально)
.env
.vercel
