html,
*,
*:before,
*:after {
  box-sizing: border-box; }

* {
  outline: 0;
  margin: 0;
  padding: 0; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0; }

input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%; }

button,
input {
  overflow: visible;
  border: 0; }

textarea {
  overflow: auto; }

img {
  display: block;
  max-inline-size: 100%;
  width: 100%;
  border-style: none;
  object-fit: cover; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

:root {
  --font-family: "Poppins", sans-serif;
  --font-second: "Roboto", sans-serif;
  --transition: .2s all ease-in-out;
  --c-white: rgb(255, 255, 255);
  --c-black: rgb(0, 0, 0);
  --c-black-half-transp: rgb(0, 0, 0, 0.5);
  --c-gray-half-transp: rgba(148, 148, 148, 0.7);
  --c-brand-white: rgb(254, 255, 255);
  --c-brand-white-half-transp: rgba(254, 255, 255, 0.719);
  --c-brand-light-blue: rgb(210, 245, 255);
  --c-brand-dark-green: rgb(2, 50, 70);
  --c-brand-dark-green-half-transp: rgba(9, 71, 95, 0.7);
  --c-brand-dark-brown: rgb(93, 0, 30);
  --c-brand-dark-brown-half-transp: rgba(93, 0, 30, 0.6); }

.fade-in {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.heartbeat {
  -webkit-animation: heartbeat 3s ease-in-out 5s infinite both;
  animation: heartbeat 3s ease-in-out 5s infinite both; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
html, body {
  height: 100%; }

html {
  font-size: 1px; }

body {
  font-size: 16rem;
  font-family: var(--font-family);
  background-image: url("img/wavy-sea.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center; }

a {
  color: var(--c-white); }

li {
  list-style-type: none; }

input, textarea {
  border: 0;
  outline: 0; }

button {
  border: 0;
  outline: 0; }

.container {
  width: 100%;
  min-height: 100%;
  padding: 5% 15%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto; }
  @media (max-width: 992px) {
    .container {
      padding: 8% 10%; } }
  @media (max-width: 992px) {
    .container {
      padding: 8% 5%; } }

.content {
  width: 100%;
  max-width: 1400rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10rem 0;
  color: var(--c-brand-dark-green); }

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  margin-bottom: 30rem;
  position: relative;
  transition: all 0.2s ease-in-out; }
  @media (max-width: 992px) {
    .logo {
      max-width: 50rem; } }
  @media (max-width: 768px) {
    .logo {
      max-width: 40rem; } }
  @media (max-width: 576px) {
    .logo {
      margin-bottom: 15rem;
      max-width: 30rem; } }
  .logo::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    width: 160%;
    height: 1rem;
    background-color: var(--c-brand-white); }
  .logo:hover {
    transform: scale(1.05); }

.main {
  width: 100%;
  background-color: var(--c-brand-white-half-transp);
  border-radius: 10rem;
  margin-bottom: 30rem;
  position: relative; }
  @media (max-width: 992px) {
    .main {
      margin-bottom: 20rem; } }
  .main__top-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20rem;
    background-color: var(--c-brand-light-blue);
    border-radius: 10rem 10rem 0 0;
    z-index: 2; }
    @media (max-width: 576px) {
      .main__top-line {
        height: 10rem; } }

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  padding: 10rem; }
  .footer__copyright {
    font-family: var(--font-second);
    color: var(--c-brand-white);
    font-size: 16rem;
    font-weight: 400; }
    @media (max-width: 768px) {
      .footer__copyright {
        font-size: 14rem;
        font-weight: 300; } }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-second);
  font-size: 18rem;
  font-weight: 400;
  border-radius: 8rem;
  box-shadow: 1rem 1rem 2rem 1rem transparent;
  transition: all 0.2s ease-in-out; }
  .btn:hover {
    transform: scale(1.03); }

.chapter-title {
  font-size: 38rem;
  font-weight: 400;
  margin-bottom: 20rem;
  color: var(--c-brand-dark-brown); }
  @media (max-width: 1200px) {
    .chapter-title {
      font-size: 34rem; } }
  @media (max-width: 992px) {
    .chapter-title {
      font-size: 32rem;
      margin-bottom: 18rem; } }
  @media (max-width: 768px) {
    .chapter-title {
      font-size: 26rem;
      margin-bottom: 14rem; } }
  @media (max-width: 576px) {
    .chapter-title {
      font-size: 20rem;
      margin-bottom: 10rem; } }

.show-tab {
  display: flex; }

.hide-tab {
  display: none; }

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15rem; }
  .navbar__list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem; }
    @media (max-width: 768px) {
      .navbar__list {
        width: 70%; } }
  .navbar__item {
    width: calc((100% - 10rem * 4) / 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: relative;
    cursor: pointer; }
    .navbar__item:hover .navbar__item-title {
      opacity: 1; }
    .navbar__item::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -22rem;
      left: calc(50%-4rem);
      border-bottom: solid 18rem var(--c-brand-white-half-transp);
      border-left: solid 18rem transparent;
      border-right: solid 18rem transparent; }
      @media (max-width: 576px) {
        .navbar__item::after {
          border-bottom: solid 8rem var(--c-brand-white-half-transp);
          border-left: solid 8rem transparent;
          border-right: solid 8rem transparent;
          bottom: -17rem; } }
    .navbar__item .fa-solid {
      color: var(--c-brand-white-half-transp);
      font-size: 34rem; }
      @media (max-width: 768px) {
        .navbar__item .fa-solid {
          font-size: 30rem; } }
      @media (max-width: 576px) {
        .navbar__item .fa-solid {
          font-size: 24rem; } }
    .navbar__item-title {
      font-family: var(--font-second);
      font-size: 14rem;
      font-weight: 300;
      color: var(--c-white);
      opacity: 0;
      transition: var(--transition); }
      @media (max-width: 576px) {
        .navbar__item-title {
          display: none; } }
    .navbar__item.is-active .fa-solid {
      color: var(--c-brand-light-blue); }
    .navbar__item.is-active::after {
      border-bottom-color: var(--c-brand-light-blue); }

.home {
  justify-content: space-between;
  align-items: center; }
  .home__container {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    @media (max-width: 576px) {
      .home__container {
        flex-direction: column; } }
  .home__welcome {
    padding: 50rem 20rem 50rem 50rem;
    align-content: center; }
    @media (max-width: 1200px) {
      .home__welcome {
        padding: 40rem 20rem 40rem 40rem; } }
    @media (max-width: 992px) {
      .home__welcome {
        padding: 40rem 10rem 40rem 50rem; } }
    @media (max-width: 768px) {
      .home__welcome {
        padding: 40rem 10rem 40rem 40rem; } }
    @media (max-width: 576px) {
      .home__welcome {
        padding: 30rem 15rem 15rem 20rem;
        text-align: center; } }
    .home__welcome-title {
      font-size: 44rem;
      font-weight: 400;
      margin-bottom: 40rem; }
      @media (max-width: 1200px) {
        .home__welcome-title {
          font-size: 38rem; } }
      @media (max-width: 992px) {
        .home__welcome-title {
          font-size: 34rem;
          margin-bottom: 30rem; } }
      @media (max-width: 768px) {
        .home__welcome-title {
          font-size: 28rem;
          margin-bottom: 20rem; } }
      .home__welcome-title h1 {
        font-size: 46rem;
        font-weight: 500;
        color: var(--c-brand-dark-brown);
        margin-top: 5rem; }
        @media (max-width: 1200px) {
          .home__welcome-title h1 {
            font-size: 38rem; } }
        @media (max-width: 992px) {
          .home__welcome-title h1 {
            font-size: 34rem; } }
        @media (max-width: 768px) {
          .home__welcome-title h1 {
            margin-top: 8rem;
            font-size: 28rem; } }
        @media (max-width: 576px) {
          .home__welcome-title h1 {
            margin-top: 5rem;
            font-size: 24rem; } }
    .home__welcome-desc {
      font-family: var(--font-second);
      font-size: 24rem;
      font-weight: 400;
      margin-bottom: 40rem; }
      @media (max-width: 992px) {
        .home__welcome-desc {
          font-size: 20rem;
          margin-bottom: 30rem; } }
      @media (max-width: 768px) {
        .home__welcome-desc {
          font-size: 18rem;
          margin-bottom: 30rem; } }
      @media (max-width: 576px) {
        .home__welcome-desc {
          font-size: 16rem; } }
    .home__welcome-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20rem;
      color: var(--c-brand-white);
      letter-spacing: 1rem; }
      @media (max-width: 992px) {
        .home__welcome-buttons {
          flex-direction: column;
          gap: 15rem;
          align-items: flex-start; } }
      @media (max-width: 992px) {
        .home__welcome-buttons {
          gap: 10rem;
          align-items: center; } }
      .home__welcome-buttons .btn-cv, .home__welcome-buttons .btn-cv-download, .home__welcome-buttons .btn-contact {
        flex: 0 0 calc((100% - 20rem) / 2);
        max-width: 200rem;
        padding: 12rem 14rem;
        text-align: center;
        align-self: flex-start; }
        @media (max-width: 992px) {
          .home__welcome-buttons .btn-cv, .home__welcome-buttons .btn-cv-download, .home__welcome-buttons .btn-contact {
            max-width: initial;
            flex: initial;
            width: 60%;
            font-size: 16rem; } }
        @media (max-width: 768px) {
          .home__welcome-buttons .btn-cv, .home__welcome-buttons .btn-cv-download, .home__welcome-buttons .btn-contact {
            width: 80%;
            font-size: 14rem;
            padding: 10rem 8rem; } }
        @media (max-width: 576px) {
          .home__welcome-buttons .btn-cv, .home__welcome-buttons .btn-cv-download, .home__welcome-buttons .btn-contact {
            width: 60%;
            align-self: center; } }
      .home__welcome-buttons .btn-cv {
        background-color: var(--c-brand-dark-green);
        box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp); }
        .home__welcome-buttons .btn-cv-text, .home__welcome-buttons .btn-cv-text-hover {
          font-size: 18rem; }
          @media (max-width: 576px) {
            .home__welcome-buttons .btn-cv-text, .home__welcome-buttons .btn-cv-text-hover {
              font-size: 16rem; } }
        .home__welcome-buttons .btn-cv-text-hover {
          display: none; }
        .home__welcome-buttons .btn-cv:hover .btn-cv-text {
          display: none; }
        .home__welcome-buttons .btn-cv:hover .btn-cv-text-hover {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly; }
      .home__welcome-buttons .btn-contact {
        background-color: var(--c-brand-light-blue);
        color: var(--c-brand-dark-green);
        font-size: 18rem;
        box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp); }
        .home__welcome-buttons .btn-contact:hover {
          background-color: var(--c-brand-white);
          color: var(--c-brand-dark-brown);
          box-shadow: 0 0 2rem 0 var(--c-brand-dark-green-half-transp); }
  .home__image {
    flex-basis: 40%;
    border-radius: 0 10rem 10rem 0;
    overflow: hidden;
    display: flex;
    position: relative; }
    @media (max-width: 768px) {
      .home__image {
        flex-basis: 45%; } }
    @media (max-width: 576px) {
      .home__image {
        border-radius: 0 0 10rem 10rem; } }
    .home__image img {
      object-fit: cover; }
      @media (max-width: 576px) {
        .home__image img {
          max-height: 350rem;
          object-position: 0 -15rem; } }
    .home__image-arrow {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 15rem;
      background-color: var(--c-brand-dark-green-half-transp);
      border-radius: 5rem 0 0 5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp); }
      @media (max-width: 576px) {
        .home__image-arrow {
          padding: 12rem; } }
      .home__image-arrow .fa-solid {
        color: var(--c-brand-white-half-transp);
        font-size: 30rem;
        transition: var(--transition); }
        @media (max-width: 576px) {
          .home__image-arrow .fa-solid {
            font-size: 26rem; } }
      .home__image-arrow:hover {
        background-color: var(--c-brand-white); }
        .home__image-arrow:hover .fa-solid {
          color: var(--c-brand-dark-brown); }

.education {
  padding: 50rem; }
  @media (max-width: 992px) {
    .education {
      padding: 40rem; } }
  @media (max-width: 768px) {
    .education {
      padding: 30rem; } }
  @media (max-width: 576px) {
    .education {
      padding: 20rem 15rem; } }
  .education__container {
    display: block;
    width: 100%; }
  .education__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 15rem; }
    @media (max-width: 992px) {
      .education__list {
        flex-direction: column;
        align-items: center; } }
  .education__item {
    flex: 0 0 calc((100% - 15rem * 2) / 3);
    background-color: var(--c-brand-white);
    display: grid;
    grid-template-rows: 50rem 50rem 150rem 100rem 1fr;
    text-align: center;
    border-radius: 8rem;
    padding-top: 10rem; }
    @media (max-width: 992px) {
      .education__item {
        flex: initial;
        width: 70%;
        grid-template-rows: 40rem 40rem 1fr 70rem 1fr; } }
    @media (max-width: 768px) {
      .education__item {
        width: 90%;
        grid-template-rows: 30rem 30rem 1fr 70rem 1fr; } }
    @media (max-width: 576px) {
      .education__item {
        width: 100%;
        grid-template-rows: 20rem 20rem 1fr 50rem 1fr; } }
    .education__item > * {
      display: flex;
      align-items: center;
      justify-content: center; }
      .education__item > *:not(.education__item-icon, .education__item-logo) {
        padding: 10rem; }
        @media (max-width: 576px) {
          .education__item > *:not(.education__item-icon, .education__item-logo) {
            padding: 5rem; } }
    .education__item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--c-brand-dark-green-half-transp); }
      .education__item-icon .fa-solid {
        color: var(--c-brand-white);
        font-size: 28rem; }
        @media (max-width: 1200px) {
          .education__item-icon .fa-solid {
            font-size: 24rem; } }
        @media (max-width: 768px) {
          .education__item-icon .fa-solid {
            font-size: 20rem; } }
        @media (max-width: 576px) {
          .education__item-icon .fa-solid {
            font-size: 16rem; } }
    .education__item-period {
      font-size: 26rem;
      font-weight: 500;
      color: var(--c-brand-dark-green);
      line-height: 100%;
      display: flex;
      align-items: center; }
      @media (max-width: 992px) {
        .education__item-period {
          font-size: 22rem; } }
      @media (max-width: 768px) {
        .education__item-period {
          font-size: 20rem;
          margin-top: 5rem; } }
      @media (max-width: 576px) {
        .education__item-period {
          font-size: 16rem; } }
    .education__item-name {
      font-size: 22rem;
      font-weight: 500;
      line-height: 110%;
      color: var(--c-brand-dark-brown); }
      @media (max-width: 1200px) {
        .education__item-name {
          font-size: 20rem; } }
      @media (max-width: 992px) {
        .education__item-name {
          font-size: 18rem; } }
      @media (max-width: 768px) {
        .education__item-name {
          font-size: 16rem; } }
      @media (max-width: 576px) {
        .education__item-name {
          font-weight: 400; } }
      .education__item-name.big-screen {
        display: block; }
        @media (max-width: 992px) {
          .education__item-name.big-screen {
            display: none; } }
      .education__item-name.small-screen {
        display: none; }
        @media (max-width: 992px) {
          .education__item-name.small-screen {
            display: block; } }
    .education__item-logo {
      display: flex;
      background-color: var(--c-brand-light-blue); }
      .education__item-logo img {
        height: 100%;
        width: auto; }
    .education__item-place {
      font-family: var(--font-second);
      font-size: 18rem;
      font-weight: 400;
      line-height: 150%;
      color: var(--c-brand-dark-green); }
      @media (max-width: 1200px) {
        .education__item-place {
          font-size: 16rem;
          line-height: 120%; } }
      @media (max-width: 768px) {
        .education__item-place {
          font-size: 14rem; } }
      @media (max-width: 576px) {
        .education__item-place {
          font-size: 12rem; } }

.skills {
  padding: 50rem 50rem 80rem; }
  @media (max-width: 992px) {
    .skills {
      padding: 40rem 40rem 60rem; } }
  @media (max-width: 768px) {
    .skills {
      padding: 40rem 30rem 50rem; } }
  @media (max-width: 576px) {
    .skills {
      padding: 20rem 15rem; } }
  .skills__container {
    display: block;
    overflow: hidden;
    width: 100%; }
  .skills__carousel {
    width: 100%;
    padding-inline: 35rem;
    position: relative;
    z-index: 1; }
    .skills__carousel-btn-prev, .skills__carousel-btn-next {
      position: absolute;
      top: 50%;
      padding: 13rem;
      transform: translateY(-50%);
      background-color: var(--c-brand-dark-green-half-transp);
      box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp);
      border-radius: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 2;
      transition: all 0.3s ease; }
      @media (max-width: 1200px) {
        .skills__carousel-btn-prev, .skills__carousel-btn-next {
          padding: 10rem; } }
      @media (max-width: 576px) {
        .skills__carousel-btn-prev, .skills__carousel-btn-next {
          padding: 8rem; } }
      .skills__carousel-btn-prev .fa-solid, .skills__carousel-btn-next .fa-solid {
        color: var(--c-brand-white-half-transp);
        font-size: 34rem;
        transition: color 0.3s ease; }
        @media (max-width: 1200px) {
          .skills__carousel-btn-prev .fa-solid, .skills__carousel-btn-next .fa-solid {
            font-size: 30rem; } }
        @media (max-width: 576px) {
          .skills__carousel-btn-prev .fa-solid, .skills__carousel-btn-next .fa-solid {
            font-size: 24rem; } }
      .skills__carousel-btn-prev:hover, .skills__carousel-btn-next:hover {
        background-color: var(--c-brand-white); }
        .skills__carousel-btn-prev:hover .fa-solid, .skills__carousel-btn-next:hover .fa-solid {
          color: var(--c-brand-dark-brown); }
    .skills__carousel-btn-prev {
      left: 10rem; }
      @media (max-width: 768px) {
        .skills__carousel-btn-prev {
          left: 14rem; } }
    .skills__carousel-btn-next {
      right: 10rem; }
      @media (max-width: 768px) {
        .skills__carousel-btn-next {
          right: 14rem; } }
  .skills__list {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .skills__item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--c-brand-white-half-transp);
    border-radius: 8rem; }
    .skills__item-image {
      border-radius: 10rem 10rem 0 0;
      padding: 4rem; }
      .skills__item-image img {
        border-radius: 10rem 10rem 0 0; }
    .skills__item-name {
      padding: 5rem 1rem;
      background-color: var(--c-brand-dark-green);
      font-family: var(--font-second);
      color: var(--c-brand-white);
      font-size: 20rem;
      align-self: stretch;
      text-align: center;
      border-radius: 0 0 10rem 10rem; }
      @media (max-width: 1200px) {
        .skills__item-name {
          font-size: 16rem; } }

.owl-item {
  border-radius: 8rem; }

.owl-stage-outer {
  border-radius: 8rem; }

.projects {
  padding: 50rem; }
  @media (max-width: 992px) {
    .projects {
      padding: 40rem; } }
  @media (max-width: 768px) {
    .projects {
      padding: 30rem; } }
  @media (max-width: 576px) {
    .projects {
      padding: 20rem 15rem; } }
  .projects__container {
    display: block;
    width: 100%; }
  .projects__desc {
    margin-bottom: 20rem;
    font-family: var(--font-second);
    font-size: 20rem; }
    @media (max-width: 992px) {
      .projects__desc {
        margin-bottom: 12rem; } }
    @media (max-width: 768px) {
      .projects__desc {
        font-size: 18rem; } }
  .projects__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250rem, 1fr));
    gap: 20rem;
    margin-bottom: 30rem; }
    @media (max-width: 768px) {
      .projects__list {
        margin-bottom: 20rem; } }
    @media (max-width: 576px) {
      .projects__list {
        grid-template-columns: repeat(auto-fit, 100%); } }
  .projects__item {
    position: relative;
    border-radius: 8rem;
    cursor: pointer;
    box-shadow: 1rem 1rem 3rem 1rem rgba(9, 43, 95, 0.4);
    transition: all 0.2s ease-in-out; }
    .projects__item:hover {
      transform: scale(1.01);
      box-shadow: 1rem 1rem 3rem 1rem rgba(252, 250, 248, 0.4); }
      .projects__item:hover .fa-solid, .projects__item:hover .projects__item-title {
        color: var(--c-brand-dark-brown); }
      .projects__item:hover .projects__item-title {
        font-weight: 500; }
      .projects__item:hover .projects__item-info {
        background-color: var(--c-brand-white-half-transp); }
    .projects__item-image {
      border-radius: 8rem; }
      .projects__item-image img {
        border-radius: 8rem; }
    .projects__item-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 20%;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--c-brand-dark-green-half-transp);
      border-radius: 0 0 8rem 8rem;
      padding: 10rem 8rem;
      color: var(--c-brand-light-blue);
      transition: all 0.2s ease-in-out; }
      @media (max-width: 992px) {
        .projects__item-info {
          padding: 10rem 12rem; } }
      .projects__item-info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7rem; }
        @media (max-width: 992px) {
          .projects__item-info-text {
            gap: 10rem; } }
        @media (max-width: 576px) {
          .projects__item-info-text {
            gap: 5rem; } }
      .projects__item-info-arrow {
        display: flex;
        justify-content: center;
        align-items: center; }
        .projects__item-info-arrow .fa-solid {
          font-size: 22rem;
          color: var(--c-brand-light-blue);
          transition: var(--transition); }
          @media (max-width: 576px) {
            .projects__item-info-arrow .fa-solid {
              font-size: 20rem; } }
    .projects__item-title {
      font-size: 18rem;
      letter-spacing: 1rem;
      color: var(--c-brand-light-blue);
      transition: var(--transition); }
      @media (max-width: 576px) {
        .projects__item-title {
          font-size: 16rem; } }
    .projects__item-detail, .projects__item-link, .projects__item-repository {
      display: none; }
  .projects__btn-more {
    padding: 12rem 23rem;
    width: 200rem;
    margin-inline: auto;
    background-color: var(--c-brand-dark-green);
    color: var(--c-brand-white);
    box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp); }
    @media (max-width: 992px) {
      .projects__btn-more {
        width: 30%;
        font-size: 16rem; } }
    @media (max-width: 768px) {
      .projects__btn-more {
        width: 40%;
        font-size: 16rem; } }
    @media (max-width: 576px) {
      .projects__btn-more {
        width: 100%;
        padding: 12rem 8rem;
        font-size: 14rem; } }
    .projects__btn-more:hover {
      box-shadow: 0 0 2rem 0 var(--c-brand-white-half-transp); }

.contacts {
  padding: 50rem; }
  @media (max-width: 992px) {
    .contacts {
      padding: 40rem; } }
  @media (max-width: 768px) {
    .contacts {
      padding: 30rem; } }
  @media (max-width: 576px) {
    .contacts {
      padding: 20rem 15rem; } }
  .contacts__container {
    width: 100%; }
  .contacts__content {
    display: block;
    position: relative; }
    @media (max-width: 992px) {
      .contacts__content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20rem; } }
  .contacts__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20rem;
    width: 60%;
    padding: 50rem 60rem 50rem 30rem;
    background-color: var(--c-brand-light-blue);
    border-radius: 8rem;
    box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp); }
    @media (max-width: 992px) {
      .contacts__form {
        width: 100%;
        padding: 30rem; } }
    @media (max-width: 576px) {
      .contacts__form {
        padding: 10rem;
        gap: 10rem; } }
    .contacts__form input, .contacts__form textarea {
      background-color: var(--c-brand-white-half-transp);
      border-radius: 4rem;
      padding: 5rem 8rem;
      font-size: 16rem;
      color: var(--c-brand-dark-green);
      box-shadow: inset 1rem 1rem var(--c-gray-half-transp), inset -1rem -1rem var(--c-gray-half-transp); }
      .contacts__form input:focus, .contacts__form textarea:focus {
        box-shadow: 0 0 3rem 1rem var(--c-brand-dark-brown-half-transp); }
      .contacts__form input::placeholder, .contacts__form textarea::placeholder {
        font-family: var(--font-second);
        font-size: 14rem;
        color: var(--c-brand-dark-brown-half-transp); }
    .contacts__form-textarea {
      resize: vertical;
      min-height: 150rem;
      max-height: 350rem; }
      @media (max-width: 992px) {
        .contacts__form-textarea {
          min-height: 100rem;
          max-height: 250rem; } }
    .contacts__form-btn {
      padding: 12rem;
      background-color: var(--c-brand-dark-green);
      color: var(--c-brand-white);
      font-size: 18rem;
      letter-spacing: 120%;
      max-width: 300rem;
      margin-inline: auto;
      box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp); }
      @media (max-width: 768px) {
        .contacts__form-btn {
          font-size: 16rem; } }
  .contacts__data {
    position: absolute;
    top: 50%;
    left: 55%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15rem; }
    @media (max-width: 992px) {
      .contacts__data {
        position: initial;
        top: initial;
        left: initial;
        right: initial;
        transform: none; } }
    .contacts__data-contact-container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 10rem; }
    .contacts__data-socials-container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      gap: 10rem; }
    .contacts__data-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 10rem;
      text-align: center;
      background-color: var(--c-brand-dark-green-half-transp);
      padding: 8rem;
      box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp);
      border-radius: 4rem;
      font-family: var(--font-second);
      font-size: 16rem;
      color: var(--c-brand-white);
      transition: all 0.2s ease-in-out; }
      @media (max-width: 768px) {
        .contacts__data-item {
          font-size: 14rem;
          gap: 5rem; } }
      .contacts__data-item .fa-solid, .contacts__data-item .fa-brands {
        font-size: 20rem;
        transition: all 0.2s ease-in-out; }
        @media (max-width: 768px) {
          .contacts__data-item .fa-solid, .contacts__data-item .fa-brands {
            font-size: 18rem; } }
      .contacts__data-item:hover {
        background-color: var(--c-brand-white);
        color: var(--c-brand-dark-brown); }
        .contacts__data-item:hover .fa-solid, .contacts__data-item:hover .fa-brands {
          color: var(--c-brand-dark-brown); }
    .contacts__data-map-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1rem solid var(--c-brand-dark-green-half-transp);
      border-radius: 4rem;
      box-shadow: 1rem 1rem 3rem 1rem var(--c-gray-half-transp); }
      @media (max-width: 992px) {
        .contacts__data-map-container {
          border: 0; } }
      .contacts__data-map-container iframe {
        border-radius: 4rem; }

.modal-project {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15%;
  overflow: auto; }
  @media (max-width: 992px) {
    .modal-project {
      padding: 15% 8%; } }
  .modal-project__content {
    background-color: var(--c-brand-white-half-transp);
    border-radius: 10rem;
    position: relative;
    width: 100%;
    max-width: 1400rem; }
    .modal-project__content-close-btn {
      position: absolute;
      top: 5rem;
      right: 5rem;
      background-color: var(--c-brand-white-half-transp);
      padding: 3rem 5rem;
      border-radius: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp); }
      .modal-project__content-close-btn .fa-solid {
        color: var(--c-brand-dark-green-half-transp);
        font-size: 30rem;
        transition: color 0.3s ease; }
        @media (max-width: 576px) {
          .modal-project__content-close-btn .fa-solid {
            font-size: 24rem; } }
        .modal-project__content-close-btn .fa-solid:hover {
          color: var(--c-brand-dark-green); }
    .modal-project__content-project-data {
      border-radius: 10rem;
      text-align: center; }
      .modal-project__content-project-data a {
        display: block;
        color: var(--c-brand-dark-brown);
        font-family: var(--font-second);
        font-size: 16rem;
        font-weight: 400;
        letter-spacing: 1rem;
        text-shadow: 0 0 1rem var(--c-gray-half-transp);
        background-color: var(--c-brand-white);
        padding: 5rem 0;
        position: relative; }
        .modal-project__content-project-data a::after {
          display: block;
          content: "";
          position: absolute;
          bottom: 5rem;
          left: 40%;
          height: 1rem;
          width: 20%;
          background-color: var(--c-brand-dark-brown);
          transform: scale(0);
          transition: var(--transition); }
        .modal-project__content-project-data a:hover::after {
          transform: scale(1); }
        @media (max-width: 768px) {
          .modal-project__content-project-data a {
            padding: 5rem 0; } }
        @media (max-width: 576px) {
          .modal-project__content-project-data a {
            padding: 3rem 0; } }
    .modal-project__content-project-image {
      border-radius: 10rem;
      padding: 50rem 50rem 0; }
      @media (max-width: 992px) {
        .modal-project__content-project-image {
          padding: 30rem 30rem 0; } }
      @media (max-width: 576px) {
        .modal-project__content-project-image {
          padding: 15rem 10rem 0; } }
      .modal-project__content-project-image img {
        border-radius: 10rem; }
    .modal-project__content-project-title {
      margin: 15rem 10rem 8rem 10rem;
      color: var(--c-brand-dark-green);
      text-shadow: 2rem 1rem 2rem var(--c-brand-white-half-transp);
      font-size: 36rem;
      font-weight: 600;
      letter-spacing: 2rem; }
      @media (max-width: 768px) {
        .modal-project__content-project-title {
          margin: 10rem 8rem 5rem;
          font-size: 28rem; } }
      @media (max-width: 576px) {
        .modal-project__content-project-title {
          margin: 8rem 5rem 5rem;
          font-size: 20rem;
          font-weight: 500; } }
    .modal-project__content-project-techniques {
      color: var(--c-brand-dark-brown);
      font-family: var(--font-second);
      font-size: 18rem;
      font-weight: 400;
      letter-spacing: 1rem;
      text-shadow: 0 0 1rem var(--c-gray-half-transp);
      background-color: var(--c-brand-white);
      margin-inline: 0;
      padding: 7rem 0; }
      .modal-project__content-project-techniques span {
        color: var(--c-brand-dark-green);
        font-family: var(--font-second); }
      @media (max-width: 992px) {
        .modal-project__content-project-techniques {
          padding: 5rem 0; } }
      @media (max-width: 576px) {
        .modal-project__content-project-techniques {
          font-size: 16rem; } }
    .modal-project__content-project-repository {
      border-radius: 0 0 10rem 10rem; }
  .modal-project.open {
    display: flex; }

.modal-alert {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15%;
  overflow: auto; }
  .modal-alert__content {
    background-color: var(--c-brand-white-half-transp);
    border-radius: 10rem;
    position: relative;
    max-width: 1400rem;
    padding: 50rem 0;
    text-align: center; }
    @media (max-width: 576px) {
      .modal-alert__content {
        padding: 40rem 0; } }
    .modal-alert__content-close-btn {
      position: absolute;
      top: 5rem;
      right: 5rem;
      background-color: var(--c-brand-white-half-transp);
      padding: 3rem 5rem;
      border-radius: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1rem 1rem 4rem 1rem var(--c-gray-half-transp); }
      .modal-alert__content-close-btn .fa-solid {
        color: var(--c-brand-dark-green-half-transp);
        font-size: 24rem;
        transition: color 0.3s ease; }
        @media (max-width: 576px) {
          .modal-alert__content-close-btn .fa-solid {
            font-size: 18rem; } }
        .modal-alert__content-close-btn .fa-solid:hover {
          color: var(--c-brand-dark-green); }
    .modal-alert__content p {
      padding: 5rem 50rem;
      background-color: var(--c-brand-white); }
      @media (max-width: 576px) {
        .modal-alert__content p {
          padding: 5rem 20rem; } }
  .modal-alert.open {
    display: flex; }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Poppinslight.woff") format("woff"), url("fonts/Poppinslight.woff2") format("woff2"); }
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Poppinsregular.woff") format("woff"), url("fonts/Poppinsregular.woff2") format("woff2"); }
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Poppinspoppins-semiboldmedium.woff") format("woff"), url("fonts/Poppinspoppins-semiboldmedium.woff2") format("woff2"); }
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Poppinspoppins-boldsemibold.woff") format("woff"), url("fonts/Poppinspoppins-boldsemibold.woff2") format("woff2"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto-Regular.woff") format("woff"); }

/*# sourceMappingURL=styles.css.map */
