html,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  outline: 0;
  margin: 0;
  padding: 0; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0; }

input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%; }

button,
input {
  overflow: visible;
  border: 0; }

textarea {
  overflow: auto; }

img {
  display: block;
  max-inline-size: 100%;
  width: 100%;
  border-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

:root {
  --font-family: "Poppins", sans-serif;
  --transition: .2s all ease-in-out;
  --c-white: #fff;
  --c-black: #000;
  --c-gray-half-transp: rgba(148, 148, 148, 0.7);
  --c-brand-white: rgb(254, 246, 243);
  --c-brand-white-half-transp: rgba(252, 250, 248, 0.7);
  --c-brand-light-blue: #adf6ec;
  --c-brand-dark-blue: #092b5f;
  --c-brand-dark-blue-half-transp: rgba(9, 43, 95, 0.7);
  --c-brand-dark-brown: #5a211d;
  --c-brand-dark-brown-half-transp: rgba(90, 33, 29, 0.7); }

html, body {
  height: 100%; }

html {
  font-size: 1px; }

body {
  font-size: 16rem;
  font-family: var(--font-family);
  background-image: url("img/wavy-sea.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

a {
  color: var(--c-white); }

li {
  list-style-type: none; }

input, textarea {
  border: 0;
  outline: 0; }

button {
  border: 0;
  outline: 0; }

.container {
  width: 100%;
  min-height: 100%;
  padding: 5% 15%;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto; }

.content {
  width: 100%;
  max-width: 1400rem;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10rem 0;
  color: var(--c-brand-dark-blue); }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60rem;
  margin-bottom: 30rem;
  position: relative; }
  .logo::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    width: 160%;
    height: 1rem;
    background: var(--c-brand-white); }

.main {
  width: 100%;
  background: var(--c-brand-white-half-transp);
  border-radius: 10rem;
  margin-bottom: 30rem;
  position: relative; }
  .main__top-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20rem;
    background: var(--c-brand-white);
    border-radius: 10rem 10rem 0 0;
    z-index: 2; }

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
  padding: 10rem; }
  .footer__copyright {
    color: var(--c-brand-white);
    font-size: 16rem;
    font-weight: 400;
    letter-spacing: 150%; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 20rem;
  font-weight: 500;
  border-radius: 8rem; }

.chapter-title {
  font-size: 38rem;
  font-weight: 400;
  margin-bottom: 20rem; }

.show-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hide-tab {
  display: none; }

.navbar {
  margin-bottom: 20rem;
  min-width: 30%; }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20rem; }
  .navbar__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
    position: relative; }
    .navbar__item:hover .navbar__item-title {
      opacity: 1; }
    .navbar__item::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -21rem;
      left: calc(50%-9rem);
      border-bottom: solid 18rem var(--c-brand-white-half-transp);
      border-left: solid 18rem transparent;
      border-right: solid 18rem transparent; }
    .navbar__item .fa-solid {
      color: var(--c-brand-white-half-transp);
      font-size: 34rem; }
    .navbar__item-title {
      font-size: 14rem;
      font-weight: 300;
      color: var(--c-white);
      opacity: 0;
      -webkit-transition: var(--transition);
      transition: var(--transition); }
    .navbar__item.is-active .fa-solid {
      color: var(--c-brand-white); }
    .navbar__item.is-active::after {
      border-bottom-color: var(--c-brand-white); }

.home {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .home__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .home__welcome {
    padding: 50rem 20rem 50rem 50rem;
    -ms-flex-line-pack: center;
        align-content: center; }
    .home__welcome-title {
      font-size: 44rem;
      font-weight: 400;
      margin-bottom: 40rem; }
      .home__welcome-title h1 {
        font-size: 46rem;
        font-weight: 500;
        color: var(--c-brand-dark-brown); }
    .home__welcome-desc {
      font-size: 24rem;
      font-weight: 400;
      margin-bottom: 40rem; }
    .home__welcome-buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 20rem;
      color: var(--c-brand-white);
      letter-spacing: 1rem; }
      .home__welcome-buttons .btn-cv, .home__welcome-buttons .btn-contact {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% - 20rem) / 2);
                flex: 0 0 calc((100% - 20rem) / 2);
        padding: 12rem 14rem;
        max-width: 200rem;
        font-weight: 400; }
      .home__welcome-buttons .btn-cv {
        background: var(--c-brand-dark-blue); }
        .home__welcome-buttons .btn-cv-text {
          display: inline; }
        .home__welcome-buttons .btn-cv-download-eng, .home__welcome-buttons .btn-cv-download-ukr {
          display: none;
          white-space: pre; }
        .home__welcome-buttons .btn-cv.active-text .btn-cv-text {
          display: none; }
        .home__welcome-buttons .btn-cv.active-text .btn-cv-download-eng, .home__welcome-buttons .btn-cv.active-text .btn-cv-download-ukr {
          display: inline; }
      .home__welcome-buttons .btn-contact {
        background: var(--c-brand-light-blue);
        color: var(--c-brand-dark-blue);
        font-weight: 500; }
  .home__image {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .home__image img {
      -o-object-fit: cover;
         object-fit: cover; }
    .home__image-arrow {
      position: absolute;
      right: 0;
      top: calc(50% - 32rem);
      padding: 15rem;
      background: var(--c-brand-dark-blue-half-transp);
      border-radius: 4rem 0 0 4rem;
      cursor: pointer; }
      .home__image-arrow .fa-solid {
        color: var(--c-brand-white-half-transp);
        font-size: 34rem;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease; }
        .home__image-arrow .fa-solid:hover {
          color: var(--c-brand-white); }

.education {
  padding: 50rem; }
  .education__container {
    display: block;
    width: 100%; }
  .education__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 15rem; }
  .education__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% - 15rem * 2) / 3);
            flex: 0 0 calc((100% - 15rem * 2) / 3);
    background: var(--c-brand-white);
    display: grid;
    grid-template-rows: 50rem 50rem 150rem 100rem 1fr;
    text-align: center;
    border-radius: 8rem;
    padding-top: 10rem; }
    .education__item > * {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .education__item > *:not(.education__item-icon, .education__item-logo) {
        padding: 10rem; }
    .education__item-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: var(--c-brand-dark-blue-half-transp); }
      .education__item-icon .fa-solid {
        color: var(--c-brand-white);
        font-size: 28rem; }
    .education__item-period {
      font-size: 26rem;
      font-weight: 500;
      color: var(--c-brand-dark-blue);
      line-height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .education__item-name {
      font-size: 22rem;
      font-weight: 500;
      line-height: 110%;
      color: var(--c-brand-dark-brown); }
    .education__item-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: var(--c-brand-light-blue); }
      .education__item-logo img {
        height: 100%;
        width: auto; }
    .education__item-place {
      font-size: 18rem;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 130%;
      color: var(--c-brand-dark-blue); }

.skills {
  padding: 50rem 50rem 80rem; }
  .skills__container {
    display: block;
    overflow: hidden;
    width: 100%; }
  .skills__carousel {
    width: 100%;
    padding-inline: 35rem;
    position: relative;
    z-index: 1; }
    .skills__carousel-btn-prev, .skills__carousel-btn-next {
      position: absolute;
      top: 50%;
      padding: 5rem;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background: var(--c-brand-dark-blue-half-transp);
      width: 36rem;
      height: 44rem;
      border-radius: 4rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;
      z-index: 2; }
      .skills__carousel-btn-prev .fa-solid, .skills__carousel-btn-next .fa-solid {
        color: var(--c-brand-white-half-transp);
        font-size: 30rem;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease; }
        .skills__carousel-btn-prev .fa-solid:hover, .skills__carousel-btn-next .fa-solid:hover {
          color: var(--c-brand-white); }
    .skills__carousel-btn-prev {
      left: 10rem; }
    .skills__carousel-btn-next {
      right: 10rem; }
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .skills__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10rem;
    background: var(--c-brand-white-half-transp);
    border-radius: 8rem; }
    .skills__item-image {
      border-radius: 10rem 10rem 0 0;
      padding: 4rem; }
      .skills__item-image img {
        border-radius: 10rem 10rem 0 0; }
    .skills__item-name {
      padding: 8rem;
      background: var(--c-brand-light-blue);
      color: var(--c-brand-dark-brown);
      -ms-flex-item-align: stretch;
          align-self: stretch;
      text-align: center;
      border-radius: 0 0 10rem 10rem;
      font-size: 20rem;
      font-weight: 500; }

.owl-item {
  border-radius: 8rem; }

.owl-stage-outer {
  border-radius: 8rem; }

.projects {
  padding: 50rem; }
  .projects__container {
    display: block;
    width: 100%; }
  .projects__desc {
    margin-bottom: 10rem; }
  .projects__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250rem, 1fr));
    gap: 10rem;
    margin-bottom: 30rem; }
  .projects__item {
    position: relative;
    border-radius: 8rem;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3rem 1rem rgba(9, 43, 95, 0.4);
            box-shadow: 0 0 3rem 1rem rgba(9, 43, 95, 0.4);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .projects__item:hover {
      -webkit-transform: scale(1.01);
              transform: scale(1.01);
      -webkit-box-shadow: 0 0 3rem 1rem rgba(252, 250, 248, 0.4);
              box-shadow: 0 0 3rem 1rem rgba(252, 250, 248, 0.4); }
    .projects__item-image {
      border-radius: 8rem; }
      .projects__item-image img {
        border-radius: 8rem; }
    .projects__item-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      background: var(--c-brand-dark-brown-half-transp);
      border-radius: 0 0 8rem 8rem;
      padding: 10rem;
      color: var(--c-brand-light-blue); }
      .projects__item-info:hover .projects__item-title, .projects__item-info:hover .projects__item-info-arrow {
        color: var(--c-brand-white); }
      .projects__item-info-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 10rem; }
      .projects__item-info-arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .projects__item-info-arrow .fa-solid {
          font-size: 30rem; }
    .projects__item-title {
      font-size: 24rem;
      font-weight: 500; }
    .projects__item-detail {
      font-size: 18rem;
      font-weight: 300;
      letter-spacing: 130%; }
  .projects__btn-more {
    padding: 12rem 23rem;
    width: 200rem;
    margin-inline: auto;
    background: var(--c-brand-light-blue); }

.contacts {
  padding: 50rem; }
  .contacts__container {
    width: 100%; }
  .contacts__content {
    display: block;
    position: relative; }
  .contacts__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20rem;
    width: 60%;
    padding: 50rem 60rem 50rem 40rem;
    background: var(--c-brand-light-blue);
    border-radius: 8rem;
    -webkit-box-shadow: 0 0 5rem 1rem var(--c-gray-half-transp);
            box-shadow: 0 0 5rem 1rem var(--c-gray-half-transp); }
    .contacts__form input, .contacts__form textarea {
      background: var(--c-brand-white-half-transp);
      border-radius: 4rem;
      padding: 5rem 8rem;
      font-size: 16rem;
      color: var(--c-brand-dark-blue);
      -webkit-box-shadow: inset 1rem 1rem var(--c-gray-half-transp), inset -1rem -1rem var(--c-gray-half-transp);
              box-shadow: inset 1rem 1rem var(--c-gray-half-transp), inset -1rem -1rem var(--c-gray-half-transp); }
      .contacts__form input:focus, .contacts__form textarea:focus {
        -webkit-box-shadow: 0 0 5rem 1rem var(--c-brand-dark-brown-half-transp);
                box-shadow: 0 0 5rem 1rem var(--c-brand-dark-brown-half-transp); }
      .contacts__form input::-webkit-input-placeholder, .contacts__form textarea::-webkit-input-placeholder {
        font-size: 14rem;
        color: var(--c-brand-dark-brown-half-transp); }
      .contacts__form input:-ms-input-placeholder, .contacts__form textarea:-ms-input-placeholder {
        font-size: 14rem;
        color: var(--c-brand-dark-brown-half-transp); }
      .contacts__form input::-ms-input-placeholder, .contacts__form textarea::-ms-input-placeholder {
        font-size: 14rem;
        color: var(--c-brand-dark-brown-half-transp); }
      .contacts__form input::placeholder, .contacts__form textarea::placeholder {
        font-size: 14rem;
        color: var(--c-brand-dark-brown-half-transp); }
    .contacts__form-textarea {
      resize: vertical;
      min-height: 150rem;
      max-height: 350rem; }
    .contacts__form-btn {
      padding: 12rem;
      background: var(--c-brand-dark-blue);
      color: var(--c-brand-white);
      font-size: 18rem;
      letter-spacing: 120%;
      max-width: 300rem;
      margin-inline: auto; }
  .contacts__data {
    position: absolute;
    top: 50%;
    left: 55%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 15rem; }
    .contacts__data-contact-container {
      display: grid;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 10rem; }
    .contacts__data-socials-container {
      display: grid;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      grid-template-columns: repeat(3, 1fr);
      gap: 10rem; }
    .contacts__data-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      gap: 10rem;
      text-align: center;
      background: var(--c-brand-white-half-transp);
      padding: 8rem;
      -webkit-box-shadow: 0 0 6rem 1rem var(--c-gray-half-transp);
              box-shadow: 0 0 6rem 1rem var(--c-gray-half-transp);
      border-radius: 4rem;
      font-size: 16rem;
      color: var(--c-brand-dark-blue);
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .contacts__data-item .fa-solid, .contacts__data-item .fa-brands {
        font-size: 20rem;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .contacts__data-item:hover {
        background: var(--c-brand-dark-blue-half-transp);
        color: var(--c-brand-light-blue); }
        .contacts__data-item:hover .fa-solid, .contacts__data-item:hover .fa-brands {
          color: var(--c-brand-light-blue); }
    .contacts__data-map-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1rem solid var(--c-brand-dark-blue-half-transp);
      border-radius: 4rem;
      -webkit-box-shadow: 0 0 5rem 1rem var(--c-gray-half-transp);
              box-shadow: 0 0 5rem 1rem var(--c-gray-half-transp); }
      .contacts__data-map-container iframe {
        border-radius: 4rem; }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Poppinslight.woff") format("woff"), url("fonts/Poppinslight.woff2") format("woff2"); }
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Poppinsregular.woff") format("woff"), url("fonts/Poppinsregular.woff2") format("woff2"); }
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Poppinspoppins-semiboldmedium.woff") format("woff"), url("fonts/Poppinspoppins-semiboldmedium.woff2") format("woff2"); }
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Poppinspoppins-boldsemibold.woff") format("woff"), url("fonts/Poppinspoppins-boldsemibold.woff2") format("woff2"); }

/*# sourceMappingURL=styles.css.map */