html,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  outline: 0;
  margin: 0;
  padding: 0; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0; }

input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%; }

button,
input {
  overflow: visible;
  border: 0; }

textarea {
  overflow: auto; }

img {
  display: block;
  max-inline-size: 100%;
  width: 100%;
  border-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

:root {
  --font-family: "Poppins", sans-serif;
  --transition: .2s all ease-in-out;
  --c-white: #fff;
  --c-black: #000;
  --c-brand-white: rgb(254, 246, 243);
  --c-brand-white-half-transp: rgba(252, 250, 248, 0.7);
  --c-brand-beige: #f8e4d2;
  --c-brand-dark-blue: #092b5f;
  --c-brand-dark-brown: #5a211d; }

html, body {
  height: 100%; }

html {
  font-size: 1px; }

body {
  font-size: 16rem;
  font-family: var(--font-family);
  background-image: url("img/wavy-sea.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.container {
  width: 100%;
  min-height: 100%;
  padding: 5% 15%;
  border: 2px solid red;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto; }

.content {
  width: 100%;
  max-width: 1400rem;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10rem 0;
  color: var(--c-brand-dark-blue);
  border: 2px solid green; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60rem;
  margin-bottom: 30rem;
  position: relative; }
  .logo::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    width: 160%;
    height: 1rem;
    background: var(--c-brand-white); }

.main {
  width: 100%;
  background: var(--c-brand-white-half-transp);
  border-radius: 10rem;
  margin-bottom: 30rem; }

.footer {
  color: var(--c-brand-white);
  font-size: 18rem;
  font-weight: 300;
  margin-bottom: 5rem; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 20rem;
  font-weight: 500;
  border-radius: 8rem; }

.chapter_title {
  font-size: 38rem;
  font-weight: 400;
  margin-bottom: 20rem; }

.navbar {
  margin-bottom: 20rem;
  min-width: 30%; }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20rem; }
  .navbar__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
    position: relative; }
    .navbar__item:hover .navbar__item-title {
      opacity: 1; }
    .navbar__item::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -21rem;
      left: calc(50%-9rem);
      border-bottom: solid 18rem var(--c-brand-white-half-transp);
      border-left: solid 18rem transparent;
      border-right: solid 18rem transparent; }
    .navbar__item .fa-solid {
      color: var(--c-brand-beige);
      font-size: 34rem;
      opacity: 0.75; }
    .navbar__item-title {
      font-size: 14rem;
      font-weight: 300;
      color: var(--c-white);
      opacity: 0;
      -webkit-transition: var(--transition);
      transition: var(--transition); }

.home {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .home__welcome {
    padding: 50rem 20rem 50rem 50rem; }
    .home__welcome-title {
      font-size: 44rem;
      font-weight: 400;
      margin-bottom: 40rem; }
      .home__welcome-title h1 {
        font-size: 46rem;
        font-weight: 500;
        color: var(--c-brand-dark-brown); }
    .home__welcome-desc {
      font-size: 24rem;
      font-weight: 400;
      margin-bottom: 40rem; }
    .home__welcome-buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 20rem;
      color: var(--c-brand-white);
      letter-spacing: 1rem; }
      .home__welcome-buttons .btn-cv, .home__welcome-buttons .btn-contact {
        padding: 12rem 14rem;
        width: 200rem;
        font-weight: 400; }
      .home__welcome-buttons .btn-cv {
        background: var(--c-brand-dark-blue); }
      .home__welcome-buttons .btn-contact {
        background: var(--c-brand-beige);
        color: var(--c-brand-dark-brown);
        font-weight: 500; }
  .home__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .home__image img {
      -o-object-fit: cover;
         object-fit: cover; }
    .home__image a {
      position: absolute;
      right: 0;
      top: calc(50% - 32rem);
      padding: 15rem;
      background: var(--c-brand-dark-blue); }
      .home__image a .fa-solid {
        color: var(--c-brand-beige);
        font-size: 34rem; }

.education {
  display: none; }
  .education__container {
    padding: 50rem; }
  .education__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 15rem; }
  .education__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% - 15rem * 2) / 3);
            flex: 0 0 calc((100% - 15rem * 2) / 3);
    background: var(--c-brand-white);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: stretch;
    text-align: center;
    border-radius: 8rem; }
    .education__item > * {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .education__item > *:not(.education__item-icon) {
        padding: 8rem; }
    .education__item-period {
      font-size: 26rem;
      font-weight: 500;
      color: var(--c-brand-dark-brown); }
    .education__item-name {
      font-size: 20rem;
      font-weight: 500;
      line-height: 150%; }
    .education__item-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: var(--c-brand-beige); }
      .education__item-icon img {
        max-width: 30%; }
    .education__item-place {
      font-size: 18rem;
      font-weight: 400;
      line-height: 120%; }

.skills {
  padding: 50rem;
  display: block; }
  .skills__carousel {
    overflow: hidden;
    width: 100%;
    padding-inline: 35rem; }
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  .skills__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10rem;
    background: var(--c-brand-white);
    border-radius: 8rem; }
    .skills__item-image {
      border-radius: 10rem 10rem 0 0;
      padding: 4rem; }
      .skills__item-image img {
        border-radius: 10rem 10rem 0 0; }
    .skills__item-name {
      padding: 8rem;
      background: var(--c-brand-dark-brown);
      color: var(--c-brand-white);
      -ms-flex-item-align: stretch;
          align-self: stretch;
      text-align: center;
      border-radius: 0 0 10rem 10rem;
      font-size: 14rem;
      font-weight: 300; }

.owl-nav {
  width: 100%;
  height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 100%;
  position: absolute;
  top: calc(50% - 44rem); }
  .owl-nav .owl-prev, .owl-nav .owl-next {
    height: 100%; }
  .owl-nav .owl-prev span, .owl-nav .owl-next span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 44rem;
    width: 30rem;
    font-size: 50rem;
    line-height: 100%;
    color: var(--c-brand-dark-blue);
    background: var(--c-brand-white-half-transp); }

.projects {
  display: none;
  padding: 20rem 50rem; }
  .projects__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250rem, 1fr));
    gap: 10rem;
    margin-bottom: 50rem; }
  .projects__item {
    position: relative;
    border-radius: 8rem; }
    .projects__item-image {
      border-radius: 8rem; }
      .projects__item-image img {
        border-radius: 8rem; }
    .projects__item-info {
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      background: rgba(90, 33, 29, 0.6);
      border-radius: 0 0 8rem 8rem;
      padding: 5rem;
      color: var(--c-brand-beige);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .projects__btn-more {
    padding: 12rem 23rem;
    width: 200rem;
    margin-inline: auto;
    background: var(--c-brand-beige); }

.contacts {
  display: none; }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Poppinslight.woff") format("woff"), url("fonts/Poppinslight.woff2") format("woff2"); }
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Poppinsregular.woff") format("woff"), url("fonts/Poppinsregular.woff2") format("woff2"); }
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Poppinspoppins-semiboldmedium.woff") format("woff"), url("fonts/Poppinspoppins-semiboldmedium.woff2") format("woff2"); }
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Poppinspoppins-boldsemibold.woff") format("woff"), url("fonts/Poppinspoppins-boldsemibold.woff2") format("woff2"); }

/*# sourceMappingURL=styles.css.map */